---
import Main from '@components/Main';
import { getI18n } from '@utils/i18n';
import type { Lang } from '@interfaces';
import Layout from '@/layouts/Layout.astro';
import 'katex/dist/katex.min.css';
import 'highlight.js/styles/atom-one-dark.css';

// read lang from env/process.env
const lang: Lang = import.meta.env.LANGUAGE || process.env.LANGUAGE || 'en';
const i18n = getI18n(lang);
---

<Layout title="ChatGPT">
  <main>
    <div id="container">
      <Main i18n={i18n} lang={lang} client:only="react" />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 4rem 2rem var(--footer-height) 2rem;
    max-width: var(--content-width);
    width: 100%;
    height: 100vh;
  }
  #container {
    margin-top: var(--header-height);
    height: calc(100vh - 4rem - var(--header-height));
    overflow-y: scroll;
  }
  #container::-webkit-scrollbar {
    display: none;
  }
  /* mobile style */
  @media screen and (max-width: 768px) {
    main {
      padding-top: 4rem;
    }
    #container {
      margin-top: calc(var(--header-height) - 4rem);
    }
  }
</style>
