---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Content from '../layouts/Content.astro';
import Footer from '../layouts/Footer.astro';
import MessageBox from '@components/MessageBox';
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
---

<Layout title="ChatGPT">
	<main>
		<Header />
		<Content>
			<MessageBox />
			<button onclick="request()">send hello</button>
		</Content>
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 4rem 2rem;
		max-width: var(--content-width);
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

<script is:inline>
	const request = async () => {
		fetch("/api/completions", {
			method: "POST",
			body: JSON.stringify({}),
		})
	}
</script>
