---
import Conversation from '@components/Conversation';
import { getI18n } from '@utils';
import Layout from '@/layouts/Layout.astro';
import 'katex/dist/katex.min.css';
import 'highlight.js/styles/atom-one-dark.css';

// read lang from env/process.env
const lang = import.meta.env.LANGUAGE || process.env.LANGUAGE || 'en';
const i18n = getI18n(lang);
---

<Layout title="ChatGPT">
  <main>
    <div id="container">
      <Conversation i18n={i18n} client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 4rem 2rem calc(48px + 4rem) 2rem;
    max-width: var(--content-width);
    width: 100%;
    height: 100vh;
  }
  #container {
    margin-top: calc(72px + 4rem);
    height: calc(100vh - 4rem - 72px - 4rem);
    overflow-y: scroll;
  }
  #container::-webkit-scrollbar {
    display: none;
  }
</style>
