.input-prompt .ant-dropdown-menu {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .input-prompt .ant-dropdown-menu {
    max-height: 200px;
  }
}
