<div class="footer"> 
  Powered by Openai GPT-4
</div>

<style>
	.footer {
    position: fixed;
    bottom: 0;
    left: calc(50% - var(--content-width) / 2);
    padding-bottom: 2rem;
    width: var(--content-width);
  }
</style>
