<div> 
  <div class="title">
    <span class="text-gradient">ChatGPT</span>
  </div>
</div>

<style>
  .title {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
