---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --content-width: 72ch;
    --content-background: #f6f6f6;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--content-background);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  textarea::-webkit-scrollbar {
    display: none;
  }
  header,
  footer {
    position: fixed;
    left: calc(50%);
    transform: translateX(-50%);
    padding: 2rem;
    max-width: var(--content-width);
    width: 100%;
    z-index: 999;
    background: var(--content-background);
  }
  header {
    top: 4rem;
  }
  footer {
    bottom: 0;
  }
  header .title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .bg-gradient {
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 0%;
  }
  pre code.hljs {
    border-radius: 4px;
  }
  ol,
  ul,
  menu {
    list-style: auto;
    padding: 10px;
    margin-left: 20px;
  }
  /* 定义动画效果 */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* 给要添加动画的元素应用动画 */
  .msg-fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border-bottom: 2px solid #c6c1c1;
    animation: spin 0.75s linear infinite;
    margin-right: 10px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
</style>
