---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/remixicon.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --content-width: 72ch;
    --content-padding-top: 4rem;
    --header-height: calc(112px + 1rem);
    --footer-height: calc(74px + 4rem);
    --content-background: #f6f6f6;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--content-background);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  textarea::-webkit-scrollbar {
    display: none;
  }
  a {
    color: #1677ff;
  }
  a:hover {
    color: #69b1ff;
  }
  header,
  footer {
    position: fixed;
    left: calc(50%);
    transform: translateX(-50%);
    padding: 2rem;
    max-width: var(--content-width);
    width: 100%;
    z-index: 999;
    background: var(--content-background);
  }
  header {
    top: var(--content-padding-top);
    padding-top: 0;
    padding-bottom: 0;
  }
  footer {
    bottom: 0;
  }
  header .title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .bg-gradient {
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 0%;
  }
  pre code.hljs {
    border-radius: 4px;
  }
  code.hljs:not(pre code.hljs) {
    /* remove inline code background */
    background: transparent;
  }
  .katex-display: {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  ol,
  ul,
  menu {
    list-style: auto;
    padding: 10px;
    margin-left: 20px;
  }
  ul {
    list-style: initial;
  }
  /* 定义动画效果 */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* 给要添加动画的元素应用动画 */
  .msg-fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border-bottom: 2px solid #c6c1c1;
    animation: spin 0.75s linear infinite;
    margin-right: 10px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  /* antd css rewrite */
  #container .ant-tabs-tab-active {
    background-color: var(--content-background);
    border-bottom-color: var(--content-background);
  }
  .ant-tabs > .ant-tabs-nav {
    margin-bottom: 0;
  }
  #container .ant-tabs-tab > .ant-tabs-tab-btn {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ant-tabs-dropdown {
    max-width: 400px;
  }
  .ant-tabs-dropdown .ant-tabs-dropdown-menu-item > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* mobile style */
  @media screen and (max-width: 768px) {
    :root {
      --header-height: calc(82px + 1rem);
      --footer-height: calc(70px + 3rem);
      --content-padding-top: 2rem;
    }
    html {
      font-size: 14px;
    }
    footer {
      padding-bottom: 1rem;
    }
    header .title {
      font-size: 2rem;
    }
  }
</style>
