---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --content-width: 72ch;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: calc(50% - var(--content-width) / 2);
    padding-bottom: 2rem;
    width: var(--content-width);
  }
  /* 定义动画效果 */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* 给要添加动画的元素应用动画 */
  .msg-fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border-bottom: 2px solid #c6c1c1;
    animation: spin 0.75s linear infinite;
    margin-right: 10px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
</style>
